@import url('https://fonts.googleleapis.com/css2?family=Inter:wght@100;200;400;500;600;700& display=swap');

:root {
    --primary-color:#4545ce;
    --accent-color:#e4f0f0;
    --text-color:#333333;
    --link-color:#1353d3;
    --background-color:var(--accent-color);
    --light-grey:#f0f0f0;
    --grey:#808080;
    --dark-grey:#555;
}

*{
    margin:0;
    padding:0;
    font-family:'Inter', sans-serif;
    text-decoration:none;
}

body{
    height:100vh;
    text-align: center;
    background-color: var(--background-color);
    padding:0.1rem;
}

.header-content{
    max-width: 1280px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo{
    display:flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    color:var(--text-color);
    text-decoration: none;
    gap:0.725rem;
}

.logo-icon{
    height:2.3rem;
    width:1.938rem;
}

.logo-text{
    font-size: 2rem;
}

.nav{
    display:none;
    gap:1.5rem;
}
@media screen and (min-width:768px){
    .nav{
        display:flex;
    }
    
}
.nav-link{
    color:#718096;
    font-size:1.125rem;
    font-weight:600;
    transform:color 0.1s;

}
.nav-link:hover{
    color:var(--link-color);

}

.contact-button{
    display:none;
    border:none;
    border-radius:0.375rem;
    background-color:var(--primary-color);
    transition:all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size:1rem;
    font-weight: 600;
    color: #000000c5;
}
@media screen and  (min-width:768px) {
    .contact-button{
        display:block;
    }
}

.contact-button:hover{
    background-color: #5254f8;
}


.menu-button{
   display: none;
   border: none;
   border-radius: 0.375rem;
   background-color: #f0f0f0;
   padding:0.5rem 0.9rem;
   font-size:1rem;
   font-weight: 600;



}
@media screen and (max-width:768px){
    .menu-button{
    display: block;
    }
}

.menu-icon{
    height:1.5rem;
    width:1.5rem;
}

.header{
    border:0.5px solid rgb(212, 207, 207);
}

.main-section{
    max-width:1280px;
    display:flex;
    flex-direction: column;
    gap:2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

.content-left{
    text-align:center;
    animation:slideFromLeft 1s ease forwards;
    opacity:0;
}
@keyframes slideFromLeft{
    0%{
        opacity:0;
        transform: translatex(-100%);
    }
    100%{
        opacity:1;
        transform:translatex(0);
    }
}

.section-label{
    font-size:1.5rem;
    font-weight: 600;
    color:var(--primary-color)

}

.section-title{
    font-size: 2.5rem;
    padding:1.1rem;
    color:var(--text-color)
}

.section-discription{
    color:var(--text-color);
    font-size:1.2rem;
}

.button-group{
    display: flex;
    gap:2rem;
    padding:1rem;
    margin-top:1rem;
}

.start-button,
.tour-button{
    border:none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform:all 0.1s;
    padding:0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.tour-button{
    background-color: var(--text-color);
}
.start-button:hover{
    background-color: #4d70b6;
}

.tour-button:hover{
    background-color: #555;

}

.content-right{
    display:flex;
    align-items: center;
    justify-content: center;
}

.imagr-container{
    border: none;
    border-radius: 0.675rem;
    overflow:hidden;
    box-shadow:0px 4px 9px rgba(0,0,0,0.1) ;
    padding-top: 10%;
} 

.section-image{
    height:100%;
    width:60%;
}

@media screen and (min-width:768px){
    .main-section{
        flex-direction:row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
    }

    .button-group{
        justify-content: start;
        padding-left:0;
    }

    .section-label{
        font-size: 1rem;
        padding-top:9rem ;
    }

    .section-title{
        font-size: 3.8rem;
    }

    .imagr-container{
        height:67vh;
    }

    .section-discription{
        width: 78%;
        font-size: 1.2rem;
    }
}

.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    animation: slideFromLeft 1.5s ease forwards;
}

.company-grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:3rem;
    padding: 1rem;
    background-color: #555;
    border: none;
    border-radius: 0.635rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
    padding: 2.4rem 2rem;
   
    

}

.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color:white;
    display: flex;
    gap:2rem
}

.svg-img{
    height:1.5rem;
}

.logo-txt{
    font-size: 1rem;
}

.google-logo{
    height: 2rem;
}

@media screen  and (min-width:640px){
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
    .company-title{
        font-size: 2rem;
        font-weight: bold;
    }
}
